<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>Invisible People</title>
  <splash src="Images/Cover NEW.png"/>
</head>

<body>
  <scene>
    <canvas></canvas>

    <speech>
      <name></name>
      <content></content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>
  </scene>
</body>

</html>
